# --------------- WP GITIGNORE TEMPLATE --------------- #
*.log
wp-config.php
wp-content/advanced-cache.php
wp-content/backup-db/
wp-content/backups/
wp-content/blogs.dir/
wp-content/cache/
wp-content/upgrade/
wp-content/uploads/
wp-content/mu-plugins/
wp-content/wp-cache-config.php
wp-content/plugins/hello.php

/.htaccess
/license.txt
/readme.html
/sitemap.xml
/sitemap.xml.gz

# --------------- FOLDERS --------------- #
## Ignore everything in the root except the "wp-content" directory.
/*
!.gitignore
!wp-content/

## Ignore everything in the "wp-content" directory, except the "plugins" and "themes" directories.
wp-content/*
!wp-content/themes/


## Ignore everything in the "plugins" directory, except the plugins you specify
# wp-content/plugins/*


## Ignore everything in the "themes" directory, except the themes you specify
wp-content/themes/*
!/wp-content/themes/digitalisland


# ---------------- GENERAL---------------- #
.git
.bowerrc
.cache
.idea
.map
*.map
.sass-cache
*.iml
*.sublime*
*.zip
/bower_components
/jscs.report.txt
node_modules
.vscode

.DS_Store
*/.DS_Store
.DS_Store?
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
.grunt
