@media (max-width: 768px) {
  .hero-image {
    height:90vh !important;
  }
}
.hero-image {
  height: calc(100vh - 11.5rem);
}
//Menu items nav 
.main-menu-container a {
  padding-right: 30px;
  display: inline-block;
}
.main-menu-container {
  margin-top:50px;
}
#menu-main-menu li:hover > .sub-menu{
	display: flex;
 
  text-transform:none;
}
.custom-logo {
  width:80%;
}
.mobile-logo img {
  width:25%;
}
//Chevron
#menu-main-menu .menu-chevron {
  display:block;
  margin:0 auto;
  
}
#menu-main-menu .menu-chevron path {
  stroke:#FFF;
  text-align:center;
}
//Mega menu 

.has-mega-menu {
  position:static;
}
.has-mega-menu > .sub-menu li a:hover{
  text-decoration: underline;
    display:block; 
}
//Images
.has-mega-menu  img {
align-self:start;
display:inline-flex;
height:450px;
width:400px;
background-color:#FFF;
padding:10px;
object-fit:cover;

}

.has-mega-menu > .sub-menu > .mega-menu-column-a img {
  display:none;
}

.has-mega-menu > .sub-menu > .mega-menu-column-b img {
  display:none;
}
.has-mega-menu > .sub-menu > .mega-menu-column-c img {
  display:none;
}
.has-mega-menu > .sub-menu > .mega-menu-column-a > a:hover img{
  display:block;
  position:absolute;
  left:5px;
  top:10px;
  height:455px;
  min-width:400px;
  
}
.has-mega-menu > .sub-menu > .mega-menu-column-b > a:hover img{
  display:block;
  position:absolute;
  left:5px;
  top:10px;
  height:450px;
  min-width:400px;
  
}
.has-mega-menu > .sub-menu > .mega-menu-column-c > a:hover img{
  display:block;
  position:absolute;
  left:5px;
  top:10px;
  height:450px;
  min-width:400px;
  
  
}
.mega-menu-column-a > .sub-menu a:hover img {
  display:block;
  position:absolute;
  right:322px;
  top:-65px;
  height:450px;
  min-width:400px;
  
 }

.mega-menu-column-a > .sub-menu >.column-heading a:hover img {
right:320px;
min-width:400px;
 object-fit:cover;


 }

 .mega-menu-column-b > .sub-menu a:hover img {
  display:block;
 position:absolute;
 right:650px;
 top:-65px;
 height:450px;
 min-width:400px;
 object-fit:cover;
 }

.mega-menu-column-b > .sub-menu >.column-heading a:hover img {
right:640px;
 min-width:410px;
 object-fit:cover;

}

.mega-menu-column-c > .sub-menu a:hover img {
  display:block;
 position:absolute;
 right:985px;
 top:-60px;
 height:450px;
 min-width:390px;
 object-fit:contain;
 }

.mega-menu-column-c > .sub-menu >.column-heading a:hover img {
right:990px;
min-width:400px;

}



//Menu container
li.has-mega-menu .sub-menu {
  width:1400px;
  position: absolute;
  z-index: 100;
  left:0px;
  right:0px;
  background-color:#FFFF;
  margin-left:auto;
  margin-right:auto;
  color:#000;
  display: flex; 
  flex-direction: row; 
  flex-wrap: wrap;
  top:95px;
  display:none;
  padding:10px 0 10px 0 ;

  
  
}

//Columns
.mega-menu-column-a,
.mega-menu-column-b,
.mega-menu-column-c {
  padding:20px;
  width:150px;
  flex-direction:column;
  display:flex;
  flex:1;
  text-align:left;
  overflow:none;
  border-image: linear-gradient(transparent 10%, #CFCFCF 10% 90%, transparent 90%) 0 0 0 1 / 1px;
  border-width:3px;
}

.mega-menu-column-a {
  border:none;
}



 .mega-menu-column-a  >.sub-menu >.column-heading a,
 .mega-menu-column-b  >.sub-menu >.column-heading a{
  font-weight:700;
  line-height:3em;
  margin-top:30px;
}


li.has-mega-menu ul.sub-menu svg {
  display:none;
}

li.has-mega-menu li{
  font-weight:600;
  
}

//Sub-items
 ul.sub-menu  ul.sub-menu
  {
  width:100%;
  position:relative;
  display:block;
  top:-25px;
  
  
  
}


ul.sub-menu ul.sub-menu > li a{
   font-weight:300;
   display:block;
   width:300px;
   padding-bottom:5px;

 }

//Link with no mega menu 
li.no-mega-menu .sub-menu {
  display:flex;
  flex-direction: column;
  background-color: #FFF;
  color:#000;
  display:none;
  text-align:left;
  display:none;
  position:absolute;
  top:95px;
  padding:20px;
  line-height:2rem;

  
}
li.no-mega-menu .sub-menu li:hover {
  text-decoration: underline;
}
li.no-mega-menu > ul.sub-menu >  li > a {
  font-weight:300!important;
}



 //Mobile-menu


#menuToggle
{
  display: block;
  position: relative;
  top: 0;
  left: 10px;
  z-index: 1;
  -webkit-user-select: none;
  user-select: none;
}

#menuToggle a
{
  text-decoration: none;
  color: #FFF;
  transition: color 0.3s ease;
  
}

#menuToggle input
{
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: -7px;
  left: -5px;
  cursor: pointer;
  opacity: 0; 
  z-index: 2; 
  -webkit-touch-callout: none;
}

/*Hamburger button */
#menuToggle > span
{
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;
  background: #FFF;
  border-radius: 3px;
  z-index: 1;
  transform-origin: 4px 0px;
  
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              opacity 0.55s ease;
}

#menuToggle span:first-child
{
  transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2)
{
  transform-origin: 0% 100%;
}


#menuToggle input:checked ~ span
{
  opacity: 1;
  transform: rotate(45deg) translate(-2px, -1px);
  background: #FFF;
}

#menuToggle input:checked ~ span:nth-last-child(3)
{
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}

#menuToggle input:checked ~ span:nth-last-child(2)
{
  transform: rotate(-45deg) translate(0, -1px);
}

#menu
{
  position: fixed;
  width:400px;
  min-height: 100vh;
  max-width: 100vw;

  left:0;
  top:0;
  padding: 20px;
  background: #000;
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
  -webkit-overflow-scrolling:touch; 
  /* to stop flickering of text in safari */
  transform-origin: 0% 0%;
  transform: translate(-100%, 0);
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
}

#menu >#main-nav {
  max-height: calc(100vh - 60px);
    overflow-y: scroll;
    scrollbar-width: none; 

}
#menu > #main-nav::-webkit-scrollbar {
  display: none; /* for Chrome, Safari, and Opera */
}

#menu li
{
  padding: 10px 0;
  font-size: 18px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}





#menuToggle input:checked ~ ul
{
  transform: none;
  padding-left:65px;
}

@media screen and (max-width: 768px) {
  #menuToggle input:checked ~ ul
  {
    padding-left: 25px;
    padding-right: 25px;
  }
  .custom-logo {
    width:60%;
  }
}

.mobile-image img{
  height:200px;
  width:100%;
}


#menu .menu-chevron path {
  stroke:#FFF;
  
}

.toggle,
[id^=drop] {
	display: none;
}

/* Display Dropdown when clicked on Parent Lable */
.toggle:checked + ul {
  display: block;
  padding-bottom:10px;
}
#menu ul li {
  display:block;
  width:100%;
}

.toggle {
		display: block;
		background-color: #000;
		color:#FFF;
		font-size:17px;
		text-decoration:none;
		border:none;
    cursor: pointer;
	}


  [id^=drop]:checked + ul {
		display: block;
	}
 #menu ul li {
		display: block;
		width: 100%;
		}

#menu ul ul .toggle,
#menu ul ul a {
		padding: 0 40px;
	}

#menu ul ul ul a {
		padding: 0 80px;
	}

#menu a:hover,
#menu ul ul ul a {
		background-color: #000000;
	}
  
#menu ul li ul li .toggle,
#menu ul ul a,
#menu ul ul ul a,
#menu ul li ul a{
		padding:14px 20px;	
		color:#FFF;
		font-size:17px; 
	}
  
  
#menu ul li ul li .toggle,
#menu ul ul a {
		background-color: #000; 
	}


#menu ul ul {
		float: none;
		position:static;
		color: #ffffff;
	
	}
		
	
#menu ul ul li:hover > ul:not(.sub-menu.show-menu),
#menu ul li:hover > ul:not(.sub-menu.show-menu),
#menu ul li ul:hover > ul:not(.sub-menu.show-menu) {
		display: none;
	}
		

#menu ul ul li {
		display: block;
		width: 100%;
	}
#menu ul ul ul li {
		position: static;
	

	}
#menu .sub-menu .sub-menu {
  display:none;
}
  .sub-menu {
    display:none;
  }

 

#menu .menu-chevron {
  display:inline-block!important;
  margin-left:15px;
}


// @media (min-width: 768px) and (max-width: 1024px) {
//   #menu
//   {
//     width:400px;
//     height: 100vh;
// }
// }
  

#menu .menu-item-has-children > a {
  pointer-events: none;
}

// Show sub-menus on mobile when parent is clicked
.sub-menu.show-menu {
  display:block!important;
  animation: showMobileSubMenu 400ms ease-in-out;
  transform-origin: top;
  transform: scaleY(1);
  margin:10px;
  li li{
    padding:0!important;
  }

}

@keyframes showMobileSubMenu {
  0% {transform: scaleY(0)}
  100% {transform: scaleY(1)}
}

// For search form
.ofyr-search-container {
  svg {
    filter: invert(100%) sepia(100%) saturate(22%) hue-rotate(33deg) brightness(106%) contrast(105%);
  }

  .ofyr-search {
    position: fixed;
    top: 100px;
    left: 0;
    width: 100vw;
    height: calc(100vh - 100px);
    background-color: rgba(0,0,0,.7);
    display: flex;
    justify-content: center;
    align-items: center;


    .search-form {
      display: flex;
    }
    
    input {
      padding: 10px 20px;
    }

    label input {
      width: 500px;
      color: #000;
    }

    input[type="submit"] {
      background-color: rgba(0,0,0,1);
      color: #fff;
      cursor: pointer;
      transition: all 150ms ease-in-out;
    }

    input[type="submit"]:hover {
      background-color: rgba(255,255,255, 1);
      color: rgb(0,0,0);
    }
  }
}

@media screen and (max-width: 650px) {
  .ofyr-search-container .ofyr-search .search-form {
    flex-direction: column;
    align-items: center;

    label input {
      max-width: 90vw;
    }

    input[type="submit"] {
      max-width: fit-content;
      margin-top: 20px;
    }
  }
}

//cart-count
.cart-count {
color: black;
background-color: white;
border-radius: 50%;
height: 25px;
width: 25px;
position: absolute;
top: 50px;
right: 60px;
padding: 1px;}

@media screen and (max-width: 1024px) {
  .cart-count {
    right:80px;
    top:40px;
  }
  .custom-logo {
    padding-bottom:20px;
  }
}


